<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>MathServlet</display-name>
  
  <servlet>
 	 <servlet-name>MathServlet</servlet-name>
  	<servlet-class>de.tum.ibis.wsc.MathServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>MathServlet</servlet-name>
  	<url-pattern>/mathservlet</url-pattern>
  </servlet-mapping>
</web-app>
